.card p {
	margin-top: -10px;
	margin-bottom: 1px;
}
.row .card:hover{
	box-shadow: 5px 5px 5px rgba(1,0,0,0.4);
	transform: scale(1.05);
}

footer{
	background-color: black;
	color: #fff;
	padding: 10px 300px;
}

footer > h3{
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

footer > .contact{
	display: inline-block;
}

footer > .contact > p{
	float: left;
	margin: 0;
	margin-right: 30px;
}

footer > .contact > .text-call{
	font-size: 18px;
	font-weight: bold;
}

footer > .kebijakan{
	margin-top: 10px;
	color: #919191;
	font-size: 14px;
}
.kolom-order{
  width: 300px;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 5px #212F3D ;
  color: #212F3D ;
}
.kolom-order h3{
  font-size: 15px;
  margin-bottom: 15px;
}

.kolom-order h2{
  font-size: 20px;
}

.box-pesanan{
   padding: 100px;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.jumlah-pesanan{
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #dcdcdc;
  border-radius: 10px;
}

.jumlah-pesanan > p{
  font-size: 25px; 
}




     